.center-text {
    text-align: center;
    color: blue;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
     height: 70vh;            /* Full viewport height */
}

.generate_button {
    color: red;
    height: 60px;
    position: relative;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 45%;
    width: 20vh;
    
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);
    


}


#javascript { 

    height: 0px;
    position: relative;
    margin: 0;
    position: absolute;
    bottom: 28%;
    left: 48%;
    width: 20vh;
    
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);

}


#generate_comment { 

    height: 0px;
    position: relative;
    margin: 0;
    position: absolute;
    bottom: 28%;
    left: 37%;
    width: 25vh;
    
    -ms-transform: translateY(-80%);
    transform: translateY(-80%);

}


#brokage_page {
position: fixed;
bottom: -190px;
left: 850px;
width:15vh;
}
